<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Guess the flag</title>
    <link rel="stylesheet" href="../../assets/css/style.css">
</head>
<body class="theBody">
    <!-- The Game -->
    <div id="game">
        <!-- Level Status -->
        <p id="levelstats">Level 1</p>
        <!-- The Question - Image -->
        <div id="image"></div>
        <!-- Answer display -->
        <input type="text" id="answer" disabled maxlength="15">
        <!-- Keyboard -->
        <div id="keyboard">
            <!-- First row -->
            <button type="button" onclick="keyboard('q')">Q</button>
            <button type="button" onclick="keyboard('w')">W</button>
            <button type="button" onclick="keyboard('e')">E</button>
            <button type="button" onclick="keyboard('r')">R</button>
            <button type="button" onclick="keyboard('t')">T</button>
            <button type="button" onclick="keyboard('y')">Y</button>
            <button type="button" onclick="keyboard('u')">U</button>
            <button type="button" onclick="keyboard('i')">I</button>
            <button type="button" onclick="keyboard('o')">O</button>
            <!-- Secont row -->
            <button type="button" onclick="keyboard('p')">P</button>
            <button type="button" onclick="keyboard('a')">A</button>
            <button type="button" onclick="keyboard('s')">S</button>
            <button type="button" onclick="keyboard('d')">D</button>
            <button type="button" onclick="keyboard('f')">F</button>
            <button type="button" onclick="keyboard('g')">G</button>
            <button type="button" onclick="keyboard('h')">H</button>
            <button type="button" onclick="keyboard('j')">J</button>
            <button type="button" onclick="keyboard('k')">K</button>
            <!-- Third row -->
            <button type="button" onclick="keyboard('l')">L</button>
            <button type="button" onclick="keyboard('z')">Z</button>
            <button type="button" onclick="keyboard('x')">X</button>
            <button type="button" onclick="keyboard('c')">C</button>
            <button type="button" onclick="keyboard('v')">V</button>
            <button type="button" onclick="keyboard('b')">B</button>
            <button type="button" onclick="keyboard('n')">N</button>
            <button type="button" onclick="keyboard('m')">M</button>
            <button type="button" onclick="keyboard('clear')">&#8592;</button>
        </div>
        <!-- options -->
        <div class="options">
            <a href="../pages/start.html">menu</a>
            <button type="button" onclick="howto('display')">how to play</button>
        </div>
        <div id="how_to">
            <p>Guess the country by flag!</p>
            <button type="button" onclick="howto('hide')">ok</button>
        </div>
    </div>
    <!-- Score_log -->
    <div id="score_log">
        <div class="box">
            <p>You won!</p>
            <div><img src="../../assets/src/Golden_Globe.jpg" alt="globe"></div>
            <div class="button-container">
                <button type="button" id="retry" onclick="retry()">Retry</button>
                <button type="button" id="nextlevel" onclick="logic.nextlevel()">Next</button>
            </div>
        </div>
    </div>
    <!-- Audio -->
    <audio src="../../assets/src/pluck.mp3" id="audio_one"></audio>

    <script src="../../assets/js/file.js"></script>
</body>
</html>
