<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <link rel="stylesheet" href="../../assets/css/style.css">
</head>
<body class="theBody">
    <h2>Welcome to Guess the flag game</h2>
    <p>In this game you guess the country by the flag.</p>
    <p>There is no credit for the game and I made it to test my own knowledge!</p>
    <p>So please do not take it serious.</p>
    <p>thanks for taking your time and playing it</p>
    <p>"GhSobhan"</p>
    <a href="start.html">return</a>
</body>
</html>